@model IEnumerable<Product>
@section Scripts{
    <script src="~/ts/storecustomer.js"></script>
    <script src="~/ts/main.js"></script>

    <script src="~/ClientApp/runtime.js"></script>
    <script src="~/ClientApp/polyfills.js"></script>
    <script src="~/ClientApp/styles.js"></script>
    <script src="~/ClientApp/vendor.js"></script>
    <script src="~/ClientApp/main.js"></script>
}
<h1>Shop</h1>
<the-shop></the-shop>

